/* Calendar Overides css */
/* ============================================================== */

.fc .fc-view-harness {
    background: #fff;
    -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 1);
}

.fc-direction-ltr .fc-daygrid-event .fc-event-time,
.fc-daygrid-dot-event .fc-event-title,
.fc .fc-daygrid-day-number,
.fc .fc-col-header-cell-cushion {
    color: #000;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: rgb(149, 230, 255, 1.5);
    background-color: var(--fc-today-bg-color, rgba(149, 230, 255, 1.5));
}