/* Start filter Button */

.nav-link {
  padding: .5rem 0.5rem;
  width: 13rem;
  flex: none !important;
}

.btn-group-vertical>.btn, .btn-group>.btn {
  padding: 12px;
}

.notify-badge {
  position: absolute !important;
    top: -10px !important;
    right: -7px;
    border-radius: 30px;
    color: #000;
}
