/* Rating Stars */

.rate {
    float: left;
  }
  
  .rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
  }
  
  .rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
  }
  
  .rate:not(:checked)>label:before {
    content: '★ ';
  }
  
  .rate>input:checked~label {
    color: #c59b08;
  }
  
  .rate:not(:checked)>label:hover, .rate:not(:checked)>label:hover~label {
    color: #c59b08;
  }
  
  .rate>input:checked+label:hover, .rate>input:checked+label:hover~label, .rate>input:checked~label:hover, .rate>input:checked~label:hover~label, .rate>label:hover~input:checked~label {
    color: #c59b08;
  }
  
  /* scroller gallery */
  
  .slick-slide {
    text-align: center;
    margin: 10px;
  }
  
  .slick-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }