@import "responsive.css";

/* Global Classes */
body {
    padding-top: 5rem;
  }
  
.h-100 {
    height: 100vh !important;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
